@inject IConfiguration config;

@if (!string.IsNullOrEmpty(Model))
{
    <img src="@config["ApiUrl"]/images/@Model">
}

<a href="/upload/multiple">Multiple</a>

<form enctype="multipart/form-data" method="post">
    <input type="file" name="f" accept="image/*">
    <button>Upload</button>
</form>
