<form method="post">
    <div></div>
     <div></div>
      <div></div>
       <div></div>
        <div></div>
         <div>
            <button>Register</button>
            <a href="/auth/login">Login</a>
         </div>
</form>